@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    font-style: normal;
    --white: #FFFFFF;
    --blue: #005CFF;
    --purple: #6220C1;
    --black: #000000;
    --medium-gray: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-width: 390px;
    width: 100dvw;
    min-height: 100dvh;
    background-color: var(--white);
    /* display: flex; */
    /* justify-content: center; */
}

input{
    border: none;
    background:none;
}

a {
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;

}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }

input:focus{
    outline: none;
}

/* Mobile First */

.header{
    width: 100%;
    height: 184px;
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 0 3px 3px 0 #0000000D;
    /* border: 1px solid black; */
    z-index: 1000;
    background-color: var(--white);

}

.headerMessage{
    width: 100%;
    height: 52px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerMessage p{
    color: var(--white);
    height: 44px;
    text-align: center;
    line-height: 22px;
    /* vertical-align: middle; */
    font-size: 14px;
    font-weight: 700;
    max-width: 360px;
}

.headerMessage #headerMessagePrice{
    background-color: var(--purple);
    color: var(--white);
    padding: 0 5px;
}

.headerMessage #headerMessageCoupon{
    font-weight: 400;
    text-transform: uppercase;
}

.headerContent{
    width:100%;
    height: 132px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    padding: 0 3.7%;
    /* border: 1px solid black; */
}

.headerContent #showNavbarBtn{
    display: flex;
    height: 21.38px;
    /* width: 100%; */
    cursor: pointer;
    /* background-color: #6220C1; */
    
}

.navbarContainer{
    display: contents;
}

#showNavbarBtn{
    order: 0;
}

#showNavbarBtn #navbarIcon{
    height: 100%;
    width: 23.72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#navbarIcon div{
    width: 100%;
    height: 0;
    border: 1px solid black;
    border-radius: 2px;
}

#showNavbarBtn #navbarTitle{
    width: 130px;
    display: none;
}

.navbar {
    display: none;
}

.titleSearchContainer{
    display: contents;
}

.siteTitle{
    /* optimize later */
    position: relative;
    display: flex;
    /* justify-content: space-around; */
    width: 148.07px;
    height: 26.28px;
    /* border: 1px solid black; */
    /* background-color: #005CFF; */
}

.header .siteTitle{
    order: 1;
}

.siteTitle *{
    position: absolute;
}

.siteTitle img:nth-child(1){
    left: 0px;
    /* border: #6220C1; */
}
.siteTitle img:nth-child(2){
    left: 24.07px;
}
.siteTitle img:nth-child(3){
    left: 47.98px;
}
.siteTitle img:nth-child(4){
    left: 87.84px;
}
.siteTitle img:nth-child(5){
    left: 114.29px;
}
.siteTitle img:nth-child(6){
    left: 144.54px;
}



.shoppingCartProfileContainer{
    display: contents;
}

.shoppingCart{
    order: 2;
    position: relative;
    /* border: 1px solid black; */
    display: flex;
    /* height: calc(24.16px + 21px*0.4); */
    width: calc(25.04px + 21px*0.5);
}

.shoppingCart #shoppingCartQtt{
    position: absolute;
    background-color: var(--blue);
    width: 21px;
    height: 21px;
    border-radius: 50%;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    right: 0;
    top:-40%;
}

#headerSearchBar{
    width: 100%;
    height: 40px;
    border: 1px solid var(--medium-gray);
    border-radius: 10px;
    padding: 0 19px;
    display: flex;
    align-items: center;
    /* max-width: ; */
    /* background-color: #005CFF; */
    order: 3;
}

#headerSearchBar #headerSearchInput{
    height: 19px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: black;
    width: 100%;
}

#headerSearchBar button{
    background: none;
    border: none;
    display: flex;   
}

#headerSearchBar input::placeholder {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 14px;
}

.main {
    /* position: relative; */
    width: 100%;
    padding-top: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */

    
}

.headBanner{
    font-family: "Nunito","Nunito Sans",sans-serif;
    width:100%;
    height: 306px;
    background-color: #E7E7EA;
    display: flex;
    /* position: relative; */
    align-items: center;
    margin-bottom: 56px;
    /* justify-content: center; */
    
    /* z-index: 1; */
}

.bannerImg{
    mix-blend-mode: darken;
    position: absolute;
    /* border: 1px solid black; */
}

.bannerText{
    font-family: "Nunito",sans-serif;
    display: flex;
    flex-direction: column;
    width: 37%;
    /* width:164px; */
    height: 53.6%;
    text-transform: uppercase;
    /* border: 1px solid black; */
    justify-content: space-between;
    /* align-items: center; */
    margin-left: 54.6%;
}

.bannerText .upperBannerText{
    /* font-family: "Nunito Sans",sans-serif; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    padding: 0px 3px;
    line-height: 40px;
    font-size: 40px;
    text-align: center;
    /* border: 1px solid black; */
}

.upperBannerText span:nth-child(1){
    /* display: flex; */
    /* font-family: "Nunito Sans",sans-serif; */
    /* border: 1px solid rgb(221, 43, 43); */
    font-weight: 700;
    width: 100%;

    /* line-height: 40px;
    font-size: 40px;
    text-align: center; */

}

.upperBannerText span:nth-child(2){
    /* font-family: "Nunito Sans",sans-serif; */
    /* border: 1px solid rgb(221, 43, 43); */
    font-weight: 300;
    width: 100%;
}

.bannerText .lowerBannerText{
    height: 72px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    color: var(--blue);
}

.lowerBannerText span:nth-child(1){
    /* display: flex; */
    /* font-family: "Nunito Sans",sans-serif; */
    /* border: 1px solid rgb(221, 43, 43); */
    font-weight: 700;
    width: 100%;
    font-size: 12px;

    /* line-height: 40px;
    font-size: 40px;
    text-align: center; */

}

.lowerBannerText span:nth-child(2){
    /* font-family: "Nunito Sans",sans-serif; */
    /* border: 1px solid rgb(221, 43, 43); */
    font-weight: 700;
    width: 100%;
    font-size: 32px;
    height: 44px;
    line-height: 100%;
    padding: 4px;

}


.carouselSection{
    width: 100%;
    max-width: 1288.4px;
    /* height: 426px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    row-gap: 19px;
    align-items: center;
    /* border: 1px solid black; */
    margin: 0px 0px 36px 0;
    /* border: 1px solid; */

}

.carouselSection:last-of-type{
    display: none;
}

.carouselSection .carouselSectionHeader{
    width: 100%;
    height: 22px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.carouselSection .carouselSectionTitle{
    font-weight: 700;
    font-size: 16px;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;   
}

.carouselSection .cardWrapper{
    width: 100%;
    /* margin-bottom: 30px; */
    /* border: 1px solid; */
    position: relative;
    padding: 0px 15px;
    padding-bottom:30px;
    /* max-width: ; */
}


.cardWrapper .swiper-button-prev, .cardWrapper .swiper-button-next{
    display:none;
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--blue);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* background-image: url("./assets/icons/iconmonstr-arrow-20.svg");
    background-repeat: no-repeat;
    background-position: center; */
}

.cardWrapper .swiper-button-prev::after , .cardWrapper .swiper-button-next::after{
    content: '';
    display: none;
    /* background-image: url("./assets/icons/iconmonstr-arrow-20.svg"); */
    /* display: block; */
    /* height: 11.04px;
    width: 12.04px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
}

.cardWrapper .swiper-button-prev svg , .cardWrapper .swiper-button-next svg{
    height: 11.04px;
    width: 12.04px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    


}

.cardWrapper .swiper-button-prev:hover, .cardWrapper .swiper-button-next:hover{
    background-color: var(--blue);
    /* color: var(--white); */
    /* border: 1px solid var(--white); */
}
.cardWrapper .swiper-button-prev:hover path, .cardWrapper .swiper-button-next:hover path{
    fill: var(--white);
}

.cardWrapper .swiper-button-prev:hover::after, .cardWrapper .swiper-button-next:hover::after{
    background-image: url("./assets/icons/arrow_back_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg");
}

.cardWrapper .swiper-button-prev{
    left: 0px;
    transform: rotate(180deg);
}

.cardWrapper .swiper-button-next{
    right: 0;
}


.seeMoreLink{
    width: 67px;
    height: 20px;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    color: #303030;
    font-size: 14px;
    text-decoration: underline;
}

.cardWrapper .swiper-pagination-bullet{
    width: 7px;
    height: 7px;
    background-color: #303030;
    opacity: 0.5;
} 

.cardWrapper .swiper-pagination-bullet-active{
    opacity: 1;
}

.cardList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
}

.cardItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 365px; */
    /* width: 174px; */
    border: 1px solid var(--medium-gray);
    border-radius: 10px;    
    padding: 10px 10px;
}

.cardLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100%;

    /* height: 341px; */
    /* border: 1px solid var(--medium-gray);
    border-radius: 10px; */
    position: relative;
    /* border: 1px solid black */
}

.cardItemStatus{
    position: absolute;
    /* top: 0px;  */
    left: 0px; 
    width: 41px;
    height: 22px;
    border-radius: 4px;
    background-color: #00264E;
    color: var(--white);
    line-height: 22px;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.cardImg{
    width: 158px;
    height: 158px;
    /* border:1px solid #000000; */
}

.cardInfo{
    width: 100%;
    /* height: 127px; */
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
    justify-content: space-between;
    /* border: 1px solid black; */
}


.cardTitle{
    /* border: 1px solid black; */
    font-weight: 400;
    color: #303030;
    font-size: 14px;
    width: 100%;
    /* border: 1px solid; */
    text-transform: capitalize;
    margin: 8px 0px;
}

.priceContainer{
    width: 145px;
    height: 58px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
    justify-content: space-between;
}

.cardPriceContainer{
    /* border: 1px solid black;  */

    width:64px;
    height: 38px;
    display: flex;
    flex-direction: column;
}

.cardPriceContainer .previousPrice{
    font-weight: 400;
    color: #303030;
    font-size: 12px;
    height: 16px;
    line-height: 100%;
    vertical-align: middle;
    /* border: 1px solid black;  */
    text-transform: capitalize;
    text-decoration: line-through;

}

.cardPriceContainer .currentPrice{
    height: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* text-align: center; */
    vertical-align: middle;
    text-transform: capitalize;
    /* border:1px solid black; */
}

.itemDiscount{
    background-color: #5EC0BE;
    color: var(--white);
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    width: 64px;
    height: 20px;
}

.installmentOptions{
    width: 100%;
    height: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
    color: #303030;

}

.installmentOptions span{
    font-weight: 700;
}

.buyItemBtn{
    width: 100%;
    /* border: 1px solid; */
    height: 40px;
    background-color: var(--blue);
    border-radius: 8px;
    border: none;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    margin-top: 8px;
    /* border: 1px solid black; */
}


.productPost{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 38px;
    margin-bottom: 56px;
}

.postBanner{
    width:100%;
    max-width: 652px;
    height: 390px;
    /* border: 1px solid; */
    background-color: #C2C2C2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.postBanner img{
    width: 351px;
    height: auto;
}

.postTextContainer{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    width: 343px;
    font-family: "Nunito",sans-serif;
}

.postTextContainer .postTitle{
    height:34px;
    line-height: 140%;
    vertical-align: middle;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;

}

.postTextContainer .postText{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.05em;
}

.productInformativeContainer{
    background-color: #DEDEDE;
    width: 100%;
    padding: 28px 0px;
    margin-bottom: 56px;
    font-family: "Nunito",sans-serif;
}

.informationContainer{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.productInformative{
    width: 100%;
    height: 661px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.informativeBanner{
    width: 349px;
    height: 349px;
}

.informativeTitle{
    width: 100%;
    height: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
}

.informativeText{
    width: 350px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.productInformative .productInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
}

.productInformative .productInfo p{
    /* display: flex; */
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.05em;
    width: 276px;
    /* border: 1px solid black; */

}

.productInformative .productInfo::before{
    /* display: block; */
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    background-color: var(--blue);
    /* z-index: 99999; */
    content: "";
    background-image: url("./assets/icons/map-pin.svg");
    background-repeat: no-repeat;
    background-position: center;
    /* border: 1px solid black; */
}


.contactUs{
    width: 100%;
    height: 449px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 56px;
    /* background-image: url("./assets/images/avanti-fourth-banner.png"); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}

.contactUs img{
    height: 100%;
    width: 100%;
    filter: blur(2px);
}

.contactUsMessage{
    position: absolute;
    width: 100%;
    background-color: var(--blue);
    height: 75px;
    display: flex;
    align-items: center;
}

.contactUsMessage span{
    font-family: "Nunito",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    line-height: 140%;
    vertical-align: 100%;
    font-size: 16px;
    color: var(--white);
    text-align: center;
    font-weight: 600;
}

.signUpContainer{
    /* border: 1px solid black; */
    height: 330px;
    width: 358px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 45px;
    /* margin: 16px 0; */
}

.signUpCall{
    width: 100%;
    text-align: center;
    height: 22px;
    line-height: 22px;
    font-weight: 100%;
    font-size: 16px;
}

.signUpCall span{
    color: var(--blue);
}

.signUpForm{
    background-color: #F5F5F5;
    border-radius: 8px;
    height: 284px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;  
    padding: 0 16px;
 
}

.signUpForm > input{
    width: 100%;
    margin: 0;
    height: 48px;
    /* border: 1px solid black; */
}

.signUpForm input[type="text"]{
    border: none;
    border-radius: 8px;
    padding: 0px 24.45px;
    background-color: var(--white);
    color: #303030;
    font-weight: 400;
    font-size: 14px;

}

.signUpForm input[type="text"]::placeholder{
    color: #303030;
    font-weight: 400;
    font-size: 14px;
    /* padding: 24.45px 0; */
}

.agreeTermsContainer{
    display: flex;
    column-gap: 8px;

}

.agreeTermsContainer input[type="checkbox"]{
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    width: 16px;
    height: 16px;
}

.agreeTermsContainer label{
    font-weight: 700;
    font-size: 12px;
    height: 100%;
    line-height: 100%;
    color: #656565;
}

.agreeTermsContainer label span{
    text-decoration: underline;
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin-bottom: 40px;
}

.footerMainFrame{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 48px;
    background-color: #F5F5F5;
    padding: 40px 0;
    width: 100%;
    
}

.footer .footerTitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
    /* border: 1px solid; */
    
}
.socialMediaIcons{
    display: flex;
    align-items: center;
    column-gap: 40px;

}

.footerNavbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    border: 0.5px solid var(--medium-gray);
    border-left: none;
    border-right: none;
    width: 100%;
}

.footerNavbarSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--medium-gray);
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    width: 100%;
    /* border: 1px solid; */
}

.footerNavbarSection > *{
    width: 100%;
    padding: 0px 16px;
}

.footerNavbarSection > h5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid red; */
    margin: 16px 0;
    height: 22px;
}

.footerNavbarSection > h5 span{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%; 
}


.paymentMethods{
    width: 288.4px;
    height: 64.67px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.footerDisclaimer{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #303030;
    max-width: 358px;
    width: 100%;
}

.certificatesIcons{
    display: flex;
    column-gap: 24px;
    /* border: 1px solid; */
    width: fit-content;
    /* flex-shrink: 0; */
}

.footerNavbarSection > ul {
    /* border: 1px solid; */
    /* border: 1px solid; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    width: 100%;
    display: none;
    color: #303030;
    display: none;
    /* font-size: 14px; */
}


.footerNavbarSection .usualSubtopic h5{
    line-height: 28px;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    height: 28px;
}

.footerNavbarSection .customSubtopic{
    line-height: 28px;
    display: flex;
    /* border: 1px solid; */
}

.footerNavbarSection .customSubtopic > *{
    font-size: 14px;

}

.footerNavbarSection .customSubtopic:last-child{
    flex-direction: column;
    margin-bottom: 8px;
    /* background-color: #00264E; */
}

.footerNavbarSection .customSubtopic:last-child *{    
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    
}

.footerNavbarSection .customSubtopic h5{
    margin-right: 5px;
}


.showContent{
    display: flex;
}

















@media (min-width: 768px){
    .header{
        height: 162px;
    }
    .headerMessage{
        height: 30px;
    }
    .headerMessage p{
        max-width: 760px;
        height: 22px;
    }
    .headerMessage #headerMessagePrice{
        border-radius: 4px;
    }
    
    .headerMessage #headerMessageCoupon{
        font-style: italic;
    }

}

@media (min-width: 1024px){

    .productPost{
        flex-direction: row;
        justify-content: center;
        
        /* border: 1px solid; */
        column-gap: 22px;
    }

    .postBanner{
        height: 747px;
    }
    
    .postBanner img{
        width: 586.38px;
    }

    .postTextContainer{
        /* border: 1px solid; */
        width: 487px;
    }

    .postTextContainer .postTitle{
        font-size: 30px;
        height: 42px
    }

    .postTextContainer .postText{
        font-size: 18px;
    }

    .productInformativeContainer{
        font-family: "Nunito",sans-serif;
        height: 819px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid; */
        color: #4F4F4F;

    }

    .productInformativeContainer .informationContainer{
        /* height: auto !important; */
        /* background-color: #00264E; */
        height: fit-content;
    }

    .productInformative .productInfo::before{
        width: 90px;
        height: 90px;
        background-size: 45px;
    }


    .productInformative{
        /* border: 1px solid; */
        flex-direction: row-reverse;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        /* background-color: #00264E; */
    }

    .productInformative .informativeBanner{
        width: 528px;
        height: auto;

    }

    .informativeText{
        width: 100%;
        height: auto;
        row-gap: 22px;
    }

    .productInformative .informationContainer{
        width: 476px;
    
    }

    .productInformative .informationContainer .productInfo{
        width: 100%;
    
    }

    .productInformative .informationContainer h6{
        font-size: 30px;
        height: 42px;
        margin-bottom: 34px;
    }

    .productInformative .informationContainer .productInfo p{
        font-size: 18px;
        line-height: 140%;
        width: 360px;
    }
    
    .footerMainFrame{
        font-family: "Nunito Sans",sans-serif;
        flex-direction:row ;
        column-gap: 50px;
        /* border: 1px solid; */
        flex-wrap: wrap;
        height: 386px;
        align-items: flex-start;
    }

    .footerMainFrame  *{
        width: auto;
        height: auto;
        display: flex;
        border: none;
        /* border: 1px solid; */
    }

    .footerMainFrame .footerTitleContainer{
        align-items: flex-start;
        row-gap: 56px;
        padding: 16px 0;
        /* border: 1px solid; */
    }

    .footerMainFrame .footerNavbar{
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 50px;
        align-items: flex-start;
    }

    .footerNavbarSection > h5 img{
        display: none;
    }

    .footerNavbarSection ul{
        display: flex;

    }

    .footerDisclaimer{
        max-width: 720px;
    }
}

@media (min-width: 1200px){
    

    .productInformative .informativeBanner{
        width: 652px;
        height: 728.14px;
    }

    .footerMainFrame{
        column-gap: 96px;
    }
    .footerMainFrame .footerNavbar{
        column-gap: 96px;
    }

    .footerDisclaimer{
        max-width: 1074px;
    }
}









