:root{
    font-family: "Nunito Sans", sans-serif;
    --white: #FFFFFF;
    --blue: #005CFF;
    --purple: #6220C1;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-width: 390px;
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

/* Mobile First */

.header{
    width: 100%;
    height: 231px;
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 0 3px 3px 0 #0000000D;
}

.headerMessage{
    width: 100%;
    height: 52px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerMessage p{
    color: var(--white);
    height: 44px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    font-weight: 700;
}

.headerMessage #headerMessagePrice{
    background-color: var(--purple);
    color: var(--white);
    padding: 0 5px;
}

.headerMessage #headerMessageCoupon{
    font-weight: 400;
    text-transform: uppercase;
}

.headerContent{
    width:100%;
    height: 132px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    padding: 0 3.7%;
    border: 1px solid black;
}

.headerContent #showNavbarBtn{
    display: flex;
    height: 21.38px;
    /* width: 100%; */
    cursor: pointer;
    /* background-color: #6220C1; */
}

#showNavbarBtn #navbarIcon{
    height: 100%;
    width: 23.72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#navbarIcon div{
    width: 100%;
    height: 0;
    border: 1px solid black;
    border-radius: 2px;
}

#showNavbarBtn #navbarTitle{
    width: 130px;
    display: none;
}

.navbar {
    display: none;
}

.siteTitle{
    /* optimize later */
    display: flex;
    justify-content: space-around;
    width: 148.07px;
    height: 26.28px;
    /* background-color: #005CFF; */
}

.shoppingCart{
    position: relative;
    /* border: 1px solid black; */
    display: flex;
    /* height: calc(24.16px + 21px*0.4); */
    width: calc(25.04px + 21px*0.5);
}

.shoppingCart #shoppingCartQtt{
    position:absolute;
    background-color: var(--blue);
    width: 21px;
    height: 21px;
    border-radius: 50%;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    right: 0;
    top:-40%;
}

#headerSearchBar{
    width: 100%;
    /* max-width: ; */
    background-color: #005CFF;
}







